*{
    padding: 0;
    margin: 0;
}
body{
    background: linear-gradient(rgb(3, 18, 36),rgba(33, 2, 41, 0.986));
    height: 100vh;
    font-family: system-ui;
}
section{
    background-image: url(stars1.png);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul{
    text-align: center;
}
ul:hover li a{
    opacity: 0;
}
ul li{
    list-style: none;
    padding: 14px 0 ;
}
ul li a{
    color: white;
    text-decoration: none;
    font-size: 32px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 5px;
    background: darkblue;
    padding: 6px 14px;
    border-radius: 20px;
    display: inline-block;
    width: 170px;
    transition: 0.5s;
    position: relative;
    z-index: 1;
}
ul li a:hover{
    transform: scale(1.5);
    background: darkorchid;
    opacity: 1;
}
ul li::after{
    content: attr(data-text);
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 80px;
    font-weight: 700;
    letter-spacing: 50px;
    opacity: 0;
    transition: 0.5s;
}
ul li:hover::after{
    opacity: 0.5;
    letter-spacing: 5px;
}
ul li::before{
    content: '';
    width: 180px;
    height: 80px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,70%);
    border-radius: 50%;
    box-shadow: 0 0 80px orange;
    opacity: 0;
    transition: 0.5s;
}
ul li:hover::before{
    opacity: 0.5;
    width: 80px;

}